.mapa__alfinetes{
    position: absolute;
}

#SBAQ{
    width: 50px;
    height: 50px;
    transform: translate(-796px, -838px);
}

#SBBP{
    width: 50px;
    height: 50px;
    transform: translate(867px, -459px);
}

#SBBU{
    width: 50px;
    height: 50px;
    transform: translate(-600px, -662px);
}

#SBCO{
    width: 50px;
    height: 50px;
    transform: translate(520px, -298px);
}

#SBJD{
    width: 50px;
    height: 50px;
    transform: translate(798px, -395px);
}

#SBKP{
    width: 50px;
    height: 50px;
    transform: translate(330px, -452px);
}

#SBMT{
    width: 50px;
    height: 50px;
    transform: translate(715px, -291px);
}

#SBPC{
    width: 50px;
    height: 50px;
    transform: translate(-146px, -829px);
}

#SBRP{
    width: 50px;
    height: 50px;
    transform: translate(-747px, -1053px);
}

#SBSJ{
    width: 50px;
    height: 50px;
    transform: translate(882px, -378px);
}

#SBSR{
    width: 50px;
    height: 50px;
    transform: translate(-1299px, -1150px);
}

#SBVG{
    width: 50px;
    height: 50px;
    transform: translate(125px, -905px);
}

#SDAA{
    width: 50px;
    height: 50px;
    transform: translate(-150px, -666px);
}

#SDAI{
    width: 50px;
    height: 50px;
    transform: translate(173px, -534px);
}

#SDAM{
    width: 50px;
    height: 50px;
    transform: translate(280px, -498px);
}

#SDBK{
    width: 50px;
    height: 50px;
    transform: translate(-304px, -472px);
}

#SDJV{
    width: 50px;
    height: 50px;
    transform: translate(-110px, -770px);
}

#SDMJ{
    width: 50px;
    height: 50px;
    transform: translate(-72px, -646px);
}

#SDPW{
    width: 50px;
    height: 50px;
    transform: translate(8px, -548px);
}

#SDRR{
    width: 50px;
    height: 50px;
    transform: translate(-515px, -420px);
}

#SDSC{
    width: 50px;
    height: 50px;
    transform: translate(-665px, -815px);
}

#SDTB{
    width: 50px;
    height: 50px;
    transform: translate(555px, -413px);
}

#SDUB{
    width: 50px;
    height: 50px;
    transform: translate(1060px, -310px);
}

#SNZA{
    width: 50px;
    height: 50px;
    transform: translate(107px, -682px);
}
