#acessibilidade::before{
    width: 60%;
}

#autocad::before{
    width: 70%;
}

#blender::before{
    width: 10%;
}

#bootstrap::before{
    width: 80%;
}

#c::before{
    width: 30%;
}

#css::before{
    width: 75%;
}

#excel::before{
    width: 75%;
}

#html::before{
    width: 90%;
}

#java::before{
    width: 30%;
}

#javascript::before{
    width: 50%;
}

#photoshop::before{
    width: 20%;
}

#powerpoint::before{
    width: 75%;
}

#python::before{
    width: 30%;
}

#sass::before{
    width: 80%;
}

#sql::before{
    width: 40%;
}

#word::before{
    width: 75%;
}












